version: 2
updates:
  # Enable version updates for docker
  - package-ecosystem: "docker"
    directory: "/docker"
    schedule:
      interval: "daily"
    assignees:
      - "andkrause"
  - package-ecosystem: "github-actions"
    directory: "/"
    schedule:
      interval: "daily"
    assignees:
      - "andkrause"
  - package-ecosystem: "gomod"
    directory: "/"
    schedule:
      interval: "daily"
    assignees:
      - "andkrause"
    open-pull-requests-limit: 10